.about {
  margin: 60px 0;
  border-radius: 13px;
  border: 1px solid #FF2E2E;
  
  .about--items {
    text-align: center;
    align-items: center;
    margin: 99px 0;

    .about__title {
      font-size: 40px;
    }

    .about__subtitle_items {
      margin: 60px 0;

      .about__subtitle_item {
        font-size: 28px;
        margin: 39px;
      }
    }
  }
}