.cart__card {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 161px;
  background-color: #171717;
  background-image: url('../../../public/svg/cart-item-bg.svg');
  align-items: center;

  .cart__item_circle {
    background-color: #202020;
    width: 256px;
    height: 256px;
    border-radius: 50%;
    margin: 0 69px 0 69px;
    align-items: center;
    text-align: center;

    img {
      width: 188px;
      height: 188px;
      transform: translateY(29px);
    }
  }

  .cart__item_name {
    padding: 0 0 0 50px;
    width: 400px;
    font-weight: 400;
  }

  .cart__item_price {
    font-weight: 500;
  }

  .cart__item_buttons {
    display: flex;
    align-items: center;

    .cart__button-plus {
      margin: 0 13px;
      cursor: pointer;
      
      svg {
        .bg-plus {
          transition: .3s;
        }
      }

      &:hover {
        .bg-plus {
          fill: #4ECC21;
        }
      }
    }

    .cart__button-clear {
      margin: 0 69px 0 13px;
      cursor: pointer;

      svg {
        .bg-clear {
          transition: .3s;
        }
      }

      &:hover {
        .bg-clear {
          fill: #FF0000;
        }
      }
    }
  }
}